.idea

#============================
# explorer-ui
#============================
explorer-ui/test-results
explorer-ui/node_modules
explorer-ui/.output
explorer-ui/.vercel
explorer-ui/.netlify
explorer-ui/.wrangler
explorer-ui/.svelte-kit
explorer-ui/build
explorer-ui/.DS_Store
explorer-ui/Thumbs.db
explorer-ui/.env
explorer-ui/.env.*
explorer-ui/!.env.example
explorer-ui/!.env.test
explorer-ui/vite.config.js.timestamp-*
explorer-ui/vite.config.ts.timestamp-*
explorer-ui/src/lib/paraglide


#============================
# admin-ui
#============================
admin-ui/test-results
admin-ui/node_modules
admin-ui/.output
admin-ui/.vercel
admin-ui/.netlify
admin-ui/.wrangler
admin-ui/.svelte-kit
admin-ui/build
admin-ui/.DS_Store
admin-ui/Thumbs.db
admin-ui/.env
admin-ui/.env.*
admin-ui/!.env.example
admin-ui/!.env.test
admin-ui/vite.config.js.timestamp-*
admin-ui/vite.config.ts.timestamp-*
admin-ui/src/lib/paraglide


#============================
# api-gateway
#============================
api-gateway/logs
api-gateway/*.log
api-gateway/npm-debug.log*
api-gateway/pids
api-gateway/*.pid
api-gateway/*.seed
api-gateway/lib-cov
api-gateway/coverage
api-gateway/.nyc_output
api-gateway/.grunt
api-gateway/.lock-wscript
api-gateway/build/Release
api-gateway/node_modules
api-gateway/jspm_packages
api-gateway/.npm
api-gateway/.node_repl_history
api-gateway/profile-*
api-gateway/.DS_Store
api-gateway/*.swp
api-gateway/.idea
api-gateway/.vscode
api-gateway/*code-workspace
api-gateway/profile*
api-gateway/*clinic*
api-gateway/*flamegraph*
api-gateway/examples/typescript-server.js
api-gateway/test/types/index.js
api-gateway/dist


#============================
# country-service
#============================
country-service/HELP.md
country-service/target/
country-service/!.mvn/wrapper/maven-wrapper.jar
country-service/!**/src/main/**/target/
country-service/!**/src/test/**/target/
country-service/.apt_generated
country-service/.classpath
country-service/.factorypath
country-service/.project
country-service/.settings
country-service/.springBeans
country-service/.sts4-cache
country-service/.idea
country-service/*.iws
country-service/*.iml
country-service/*.ipr
country-service/nbproject/private/
country-service/nbbuild/
country-service/dist/
country-service/nbdist/
country-service/.nb-gradle/
country-service/build/
country-service/!**/src/main/**/build/
country-service/!**/src/test/**/build/
country-service/.vscode/


#============================
# event-service
#============================
event-service/HELP.md
event-service/target/
event-service/.mvn/wrapper/maven-wrapper.jar
event-service/!**/src/main/**/target/
event-service/!**/src/test/**/target/
event-service/.apt_generated
event-service/.classpath
event-service/.factorypath
event-service/.project
event-service/.settings
event-service/.springBeans
event-service/.sts4-cache
event-service/.idea
event-service/*.iws
event-service/*.iml
event-service/*.ipr
event-service/nbproject/private/
event-service/nbbuild/
event-service/dist/
event-service/nbdist/
event-service/.nb-gradle/
event-service/build/
event-service/!**/src/main/**/build/
event-service/!**/src/test/**/build/
event-service/.vscode/


#============================
# image-service
#============================
image-service/HELP.md
image-service/target/
image-service/.mvn/wrapper/maven-wrapper.jar
image-service/!**/src/main/**/target/
image-service/!**/src/test/**/target/
image-service/.apt_generated
image-service/.classpath
image-service/.factorypath
image-service/.project
image-service/.settings
image-service/.springBeans
image-service/.sts4-cache
image-service/.idea
image-service/*.iws
image-service/*.iml
image-service/*.ipr
image-service/nbproject/private/
image-service/nbbuild/
image-service/dist/
image-service/nbdist/
image-service/.nb-gradle/
image-service/build/
image-service/!**/src/main/**/build/
image-service/!**/src/test/**/build/
image-service/.vscode/